body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: url('https://st.depositphotos.com/1005721/4415/i/950/depositphotos_44158903-stock-photo-wood-plank-grain-texture-wooden.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 10em;
    text-transform: uppercase;
    text-align: center;
    background: url('https://st.depositphotos.com/1005721/4415/i/950/depositphotos_44158903-stock-photo-wood-plank-grain-texture-wooden.jpg');
    background-attachment: fixed;
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow: -5px 5px 20px #000,
    -10px 10px 30px #000,
    -20px 15px 40px #000,
    -25px 20px 50px #000,
    ;
}
